.card {
    margin-bottom: 20px;
}

#loading {
    display: none;
    text-align: center;
    padding: 10px;
}

body {
    background: #cae1f1;
}

#result {
    height: 500px;
    overflow: auto;
}

.container {
    background: white;
    padding: 10px;
    border-radius: 3px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}